.navbar{
    height: 80px;
    & .logonav{
     height: 60px;
     max-width: 200px;
    }
    & .navoffcanvas{
        & .offcanvasHeader{
            & .icon{
                height: 40px;
                width: 40px;
            }
        }
        & .offcanvasBody{
            & .navbarNav{
                & .navItem{
                    & .navLink{
                        font-size: 16px;
                        color: $theme2;
                        opacity: 0.9;
                        position: relative;
                        padding: 5px 0px;
                        transition: all 0.3s ease-in-out;
                        &::before{
                            position: absolute;
                            content:'';
                            background-color: $theme2;
                            width: 0%;
                            height: 2px;
                            left: 0;
                            bottom: 0;
                        }
                        &.active{
                            opacity: 1;
                            color: $theme2;
                            font-weight: 700 !important;
                            &::before{
                                width: 25px;
                            }
                        }
                        &:hover{
                            opacity: 1;
                            color: $black;
                            &::before{
                                width: 25px;
                            }
                        }
                    }
                }
            }
            & .hoverBtn{
                width: 40px;
                height: 40px;
                background-color: $theme1;
                border-radius: 50%;
                transition: all 0.3s ease-in-out;
                border: 1px solid $black;
                cursor: pointer;
                // &:hover{
                //   transform: translateX(40px);
                // }
                & .navBtn{
                    width: 40px;
                    height: 40px;
                    background-color: $black;
                    border-radius: 50%;
                    padding: 13px;
                    border: 1px solid $black;
                    transition: all 0.3s ease-in-out;
                    &:hover{
                      transform: translateX(17px);
                    }
                }
            }
        }
    }
}

@include media-breakpoint(basic) {}
@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(xxl) {
}


@include media-breakpoint-down(xxl) {
    .navbar{
     
        & .logonav{
       
        }
        & .navoffcanvas{
            & .offcanvasBody{
                & .navbarNav{
                    & .navItem{
                        & .navLink{
            
                            &::before{
                           
                            }
                            &.active{
                      
                                &::before{
                            
                                }
                            }
                            &:hover{
                        
                                &::before{
                                  
                                }
                            }
                        }
                    }
                }
                & .hoverBtn{
            
                    &:hover{
          
                    }
                    & .navBtn{
           
                        &:hover{

                        }
                    }
                }
            }
        }
    }
}

@include media-breakpoint-down(xl) {
    .navbar{
     
        & .logonav{
       
        }
        & .navoffcanvas{
            & .offcanvasBody{
                & .navbarNav{
                    & .navItem{
                        & .navLink{
            
                            &::before{
                           
                            }
                            &.active{
                      
                                &::before{
                            
                                }
                            }
                            &:hover{
                        
                                &::before{
                                  
                                }
                            }
                        }
                    }
                }
                & .hoverBtn{
            
                    &:hover{
          
                    }
                    & .navBtn{
           
                        &:hover{

                        }
                    }
                }
            }
        }
    }
}

@include media-breakpoint-down(lg) {
    .navbar{
     
        & .logonav{
            height: 38px;
            max-width: 176px;
        
        }
        & .navbar-toggler{
            & .icon{
                height: 15px;

            }
        }
        & .navoffcanvas{
            & .offcanvasBody{
                & .navbarNav{
                    & .navItem{
                        & .navLink{
            
                            &::before{
                           
                            }
                            &.active{
                      
                                &::before{
                            
                                }
                            }
                            &:hover{
                        
                                &::before{
                                  
                                }
                            }
                        }
                    }
                }
                & .hoverBtn{
                    width: 35px;
                    height: 35px;
                    &:hover{
          
                    }
                    & .navBtn{
                        width: 35px;
                        height: 35px;
                        padding: 10px;
                        &:hover{

                        }
                    }
                }
            }
        }
    }
}

@include media-breakpoint-down(md) {
    .navbar{
     
        & .logonav{
       
        }
        & .navoffcanvas{
            & .offcanvasBody{
                & .navbarNav{
                    & .navItem{
                        & .navLink{
            
                            &::before{
                           
                            }
                            &.active{
                      
                                &::before{
                            
                                }
                            }
                            &:hover{
                        
                                &::before{
                                  
                                }
                            }
                        }
                    }
                }
                & .hoverBtn{
            
                    &:hover{
          
                    }
                    & .navBtn{
           
                        &:hover{

                        }
                    }
                }
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    .navbar{
     
        & .logonav{
       
        }
        & .navoffcanvas{
            & .offcanvasHeader{
                & .icon{
                    height: 35px;
                    width: 35px;
                }
            }
            
            & .offcanvasBody{
                & .navbarNav{
                    & .navItem{
                        & .navLink{
            
                            &::before{
                           
                            }
                            &.active{
                      
                                &::before{
                            
                                }
                            }
                            &:hover{
                        
                                &::before{
                                  
                                }
                            }
                        }
                    }
                }
                & .hoverBtn{
            
                    &:hover{
          
                    }
                    & .navBtn{
           
                        &:hover{

                        }
                    }
                }
            }
        }
    }
}
